* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #F5F5F5;
}

.input_ {
    width: 90%;
    height: 5.2rem;
    border: 1px solid gainsboro;
    margin: 33px;
    background-color: white;
}

.input_>input {
    width: 82%;
    height: 2.2rem;
    font-size: 1.6rem;
    text-indent: 1em;
    border: none;
    outline: none;
    border-right: 3px solid black;
    margin-top: 22px;

}

.input_>img {
    position: relative;
    bottom: -8px;
    right: -34px;
}



.list {
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    list-style: none;
    align-items: center;
}

.list>li a {
    font-size: 2.5rem;
    color: #666666;
    margin-left: 76px;
    font-weight: bold;

}

.list>li a span {
    border-top: 5px solid #ccc;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}


.box1 {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    /*
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;*/
}

/*
.hide {
    position: fixed;
    top: 5rem;
    left: 0px;
    width: 100%;
    height: 40rem;
    background-color: white;
    z-index: 1;
}


.hide>li>div>p:nth-of-type(1) {
    font-size: 2.5rem;
    color: #FF8A00;
    margin: 1rem 4.7rem;
    font-weight: bold;

}

.hide>li>div>p:nth-of-type(2) {
    width: 32%;
    height: 500px;
    border-right: 1px solid gainsboro;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}

.hidebox {
    margin-left: 223px;
    border: 1px solid black;
    position: absolute;
    top: 85px;
    width: 68%;
    height: 504px;
    list-style: none;
    display: flex;

}*/
.content {
    width: 90%;
    height: 17rem;
    margin: 0 auto;
    display: flex;
    border-bottom: 2px solid #FF8A00;
}

.content>img {
    width: 28%;
    margin: 45px 0px;
}

.text {
    width: 72%;
    height: 12rem;
    margin-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
}

.text>p:nth-of-type(1) {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    margin-bottom: 30px;

}

.text>p:nth-of-type(2) {
    font-size: 1.6rem;
    color: black;

    margin: 10px 0px;

}

.text>p:nth-of-type(3) {
    font-size: 1.6rem;
    margin: 10px 0px;

}

.text span {
    color: #FF8A00;
    font-weight: bold;
}

.text>p:nth-of-type(4) {
    font-size: 1.6rem;
    margin: 10px 0px;

}

.content:nth-of-type(4) {
    border: none;
}